<div class="container">
  <nav class="navbar-nav navbar-expand bg-dark col-12 navbar-dark nav-pills" >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="employees">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="addEmployee">ADD_Emplyee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="error">Error</a>
      </li>

    </ul>
  </nav>
  <img  src="assets/images/logo.png" style="height: 5%; width: 50%; margin-left: 25%;">

  <router-outlet></router-outlet>
</div>
